body {
    font-family: 'Merriweather', serif;
}
.container {
    width: 85%;
    margin: auto;
}
.banner-content {
    height: 500px;
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.blur {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.alert-button {
    border: none;
    outline: none;
    background-color: red;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px;
}
.highlighted {
    color: red;
} 
header .blur {
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header .blur h3 {
    font-size: 32px;
    margin: 10px 0px;
}
header .blur h2 {
    font-size: 72px;
    margin: 10px 0px;
    width: 630px;
    text-align: center;
}
#category {
    font-family: 'Inter', sans-serif;
}
.text-content {
    text-align: center;
}
.image-content {
    width: 800px;
    height: 500px;
    margin: 100px auto 30px auto;
}
.image-content img {
    width: 100%;
    height: 100%;
    margin: auto;
}
.text-content h2 {
    color: #F00;
    font-size: 88px;
    font-weight: bold;
    margin: 120px 0px 40px 0px;
}
.text-content p {
    font-size: 24px;
    margin: 10px 0px;
}
.text-content h3 {
    font-size: 48px;
    margin: 40px 0px 0px 0px;
}

#welcome {
    margin: 120px 0px;
}
#welcome .container {
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
#welcome .mid {
    width: 80%;
    margin: auto;
    display: flex;
}
.welcome-content {
    width: 60%;
    height: 600px;
    color: white;
    margin-top: 120px;
}
.welcome-content h2 {
    font-size: 64px;
    font-weight: bold;
    margin: 20px 0px;
    
}
.welcome-content p {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
.welcome-content button {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 40px;
    padding: 15px;
}
.welcome-content button:hover {
    background-color: red;
    transition: 0.7s;
}
.year-content {
    width: 40%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#address .container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address-content {
    font-size: 32px;
    text-align: center;
}
.address-content h5 {
    margin: 20px;
    font-family: 'Inter', sans-serif;
}

#new-offer .container {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}
#new-offer .container div {
    width: 30%;
}
.coming-soon {
    margin-top: 80px;
}
.content-theme {
    color: rgba(7, 2, 17, 0.60);
}
.coming-soon .highlighted {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin: 10px 0px;
}
.coming-soon h2 {
    font-size: 48px;
    color: #070211;
    margin: 10px 0px;
}
.offer-image {
    height: 350px;
    width: 350px !important;
    border-radius: 50%;
    border: 10px solid red;
}
.offer-image img {
    width: 90%;
    height: 90%;
    display: block;
    margin: 18px auto;
}
.wish {
    margin-top: 30px;
    padding-left: 20px;
}
.wish h2 {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    margin: 10px 0px;
}
#holiday-sell {
    margin-top: 100px;
}
.sell-text {
    text-align: center;
    color: #070211;
}
.sell-text h5 {
    font-size: 24px;
    margin: 10px 0px;
}
.sell-text h2 {
    font-size: 72px;
    font-weight: bold;
    margin: 15px 0px;  
}
.sell-text p {
    width: 1000px;
    color: rgba(7, 2, 17, 0.60);
    margin: 10px 0px;
    font-family: 'Inter', sans-serif;
}
.sell-image {
    display: flex;
    border-bottom: 200px red solid;
    position: relative;
    margin-top: 100px;
}
.sell-image .image1 {
    width: 55%;
}
.sell-image .image2 {
    width: 20%;
}
.sell-image .image3 {
    width: 25%;
}
.sell-image .image1 img {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 150px;
    left: 100px;
}
.sell-image .image2 img {
    position: absolute;
}
.sell-image .image3 img {
    width: 100%;
    height: 100%;
}

#portfolio {
    margin-top: 100px;
}
#portfolio h5 {
    font-size: 24px;
    margin: 10px 0px;
}
#portfolio h2 {
    font-size: 48px;
    margin: 10px 0px;
}
#portfolio p {
    color: rgba(7, 2, 17, 0.60);
    margin: 10px 0px;

}
.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 0px;
}
.portfolio-images img {
    width: 32%;
    cursor: pointer;
}
.portfolio-images img:hover {
    transform: scale(1.2);
    transition: 0.9s;
}
#newsletter {
    margin-top: 100px;
}
#newsletter .container {
    background: rgba(255, 0, 0, 0.05);
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#newsletter img {
    width: 150px;
    height: 150px;
}
#newsletter h2 {
    font-weight: bold;
    font-size: 48px;
    margin: 10px 0px;
    color: #070211;
}
#newsletter p {
    font-size: 20px;
    width: 900px;
    color: rgba(7, 2, 17, 0.60);
}
.email-input {
    margin-top: 50px;
}
.email-input input {
    outline: none;
    border: none;
    padding: 16px;
    width: 250px;
    font-size: 16px;
    margin-right: -5px;
    border-radius: 25px 0px 0px 25px;
}
.email-input button {
    outline: none;
    border: none;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 0px 25px 25px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 150px;
    margin-left: 0px;
    cursor: pointer;
}
footer {
    background-color: #070211;
    color: white;
    margin-top: 100px;
    font-size: 16px;
    overflow: hidden;
    padding: none;
    
}
hr {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
}
footer .contact {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
footer .address {
    width: 300px;
}
.phone, .website {
    display: flex;
}
.phone img {
    width: 24px;
    height: 24px;
    margin: 15px 10px;
}
.website img {
    width: 24px;
    height: 24px;
    margin: 15px 10px;
}
.social {
    display: flex;
    justify-content: center;
}
.social img {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.copyright {
    display: flex;
    justify-content: space-between;
}
.copyright button {
    margin: 0;
    outline: none;
    padding: none;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}